Repository monosus/minista-panda-storybook: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, type-check, markup, prettier

eslint:
  run: npx eslint {staged_files}

type-check:
  run: tsc --noEmit -p tsconfig.json

markup:
  run: npx markuplint --config .markuplintrc.yml {staged_files}

prettier:
  run: npx prettier -w  {staged_files}

update .gitignore
  .gitignore
Due: none

update storybook tests with playwright & axe-playwright
  .storybook/main.ts
  .storybook/test-runner.ts
  README.md
  minista.config.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/components/Button/index.tsx
  tests/snapshot.spec.ts
Due: eslint, type-check, prettier

update README
  README.md
Due: prettier

update: recommended vscode extentions
  .vscode/extensions.json
Due: prettier

update:package-lock.json
  package-lock.json
Due: prettier

add:.node-version
  .node-version
Due: none

Update auto_create_branch.yml.yml
  .github/workflows/auto_create_branch.yml.yml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  type-check: any of: *.{ts,tsx}
  markup: any of: *.{tsx}
  prettier: any of: *.{tsx,ts,js,jsx,css,html,json,md,yml}
