Repository monosus/minista-panda-storybook: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, type-check, markup, prettier

eslint:
  run: npx eslint {staged_files}

type-check:
  run: tsc --noEmit -p tsconfig.json

markup:
  run: npx markuplint --config .markuplintrc.yml {staged_files}

prettier:
  run: npx prettier -w  {staged_files}

fix lefthooks
  lefthook.yml
Due: prettier

fix package.json & package-lock.json
  package-lock.json
  package.json
Due: prettier

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report-ふぐイア修正.md
  .github/ISSUE_TEMPLATE/feature-request-新規機能追加.md
Due: prettier

Update and rename bug-report-ふぐイア修正.md to bug-report-不具合修正.md
  .github/ISSUE_TEMPLATE/bug-report-不具合修正.md
Due: prettier

Create pull_request_template.md
  .github/pull_request_template.md
Due: prettier

lintとmarkuplintの修正を自動化します。
  lefthook.yml
Due: prettier

Create auto_create_branch_and_draft_pr.yml
  .github/workflow/auto_create_branch_and_draft_pr.yml
Due: prettier

Update auto_create_branch_and_draft_pr.yml
  .github/workflow/auto_create_branch_and_draft_pr.yml
Due: prettier

fix dir name
  .github/ISSUE_TEMPLATE/bug-report-不具合修正.md
  .github/ISSUE_TEMPLATE/feature-request-新規機能追加.md
  .github/pull_request_template.md
  .github/workflow/auto_create_branch_and_draft_pr.yml
  .github/workflows/auto_create_branch_and_draft_pr.yml
  lefthook.yml
  src/pages/about.tsx
Due: eslint, type-check, prettier

fix dir name
  lefthook.yml
Due: prettier

fix workflows
  .github/workflows/auto_create_branch.yml.yml
  .github/workflows/auto_create_branch_and_draft_pr.yml
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

fix workflows
  .github/workflows/auto_create_branch.yml.yml
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

HtmlAppendedLinkのテキストを変更しました
  src/pages/about.tsx
Due: eslint, type-check, prettier

Update auto_create_draft_pr.yml
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

fix yaml format
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

既存のPRがない場合にドラフトPRを作成する
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

問題のタイトルを取得する
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

ドラフトPRを作成します
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

ドラフトPRを自動作成するワークフローファイルを追加
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

日本語化及びプルリクエスト作成コマンドを追加
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

「hoge」のリンクを「abbbbb」に変更
  .github/workflows/auto_create_draft_pr.yml
  src/pages/about.tsx
Due: eslint, type-check, prettier

対応ISSUEを追加
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

HtmlAppendedLinkのリンクテキストを修正する
  src/pages/about.tsx
Due: eslint, type-check, prettier

PR本文の準備とドラフトPRの作成を追加
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

「Create Draft PRを作成する」
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

問題番号を環境変数に追加します
  .github/workflows/auto_create_draft_pr.yml
Due: prettier

Update README.md
  README.md
Due: prettier

.editorconfigを追加
  .editorconfig
Due: none

.vscode/extensions.jsonを追加し、src/pages/about.tsxにStackImageコンポーネントを追加
  .vscode/extensions.json
  src/pages/about.tsx
Due: eslint, type-check, prettier

.vscode/extensions.jsonの更新The translation of the code comments and variable names is excluded
  .vscode/extensions.json
Due: prettier

コードスタイル修正
  lefthook.yml
  src/components/heading/index.tsx
Due: eslint, type-check, prettier

見出しコンポーネントのタグのインデントを修正する
  src/components/heading/index.tsx
Due: eslint, type-check, prettier

コミットメッセージ: "タグのインデントを修正"
  lefthook.yml
  src/components/heading/index.tsx
Due: eslint, type-check, prettier

'about.ts'というファイルを追加しました。
  src/assets/about.ts
  src/pages/about.tsx
Due: eslint, type-check, prettier

fix about.tsx meta.ts
  src/pages/about.tsx
  src/site-data/meta.ts
Due: eslint, type-check, prettier

update lint config
  .eslintignore
  tsconfig.json
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  type-check: any of: *.{ts,tsx}
  markup: any of: *.{tsx}
  prettier: any of: *.{tsx,ts,js,jsx,css,html,json,md,yml}
